/*
 * SPDX-FileCopyrightText: 2020 (C) Bjorn Erik Pedersen <bjorn.erik.pedersen@gmail.com>
 * SPDX-FileCopyrightText: 2020 (C) Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: 2020 (C) LisaFC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

// Import from hugo-kde theme
@import "../bootstrap";

main {
  font-size: 1rem;
}
@media (min-width: 600px) {
  main {
    font-size: 1rem;
  }
}
@media (min-width: 900px) {
  main {
    font-size: 1rem;
  }
}


@import "support/functions";
@import "variables_project";
@import "variables";
@import "support/mixins";
@import "root";

@import "support/utilities";
@import "card";
@import "colors";
@import "boxes";
@import "blog";
@import "code";
@import "nav";
@import "sidebar-tree";
@import "sidebar-toc";
@import "buttons";
@import "content";
@import "search";
@import "main-container";
@import "blocks/blocks";
@import "section-index";
@import "pageinfo";

:root {
  --bs-body-color: #232629;
  --bs-body-bg: #fcfcfc;
  --bs-border-color: #eff0f1;
}

@include color-mode(dark, true) {
  --bs-body-color: #eff0f1;
  --bs-body-bg: #232629;
  --bs-border-color: #16181b;
}

@include color-mode(dark) {
  h1, h2, h3, h4, h5, h6 {
    color: #bdc3c7 !important;
  }
}

.alert-error {
  --bs-alert-color: var(--bs-danger-text);
  --bs-alert-bg: var(--bs-danger-bg-subtle);
  --bs-alert-border-color: var(--bs-danger-border-subtle);
  --bs-alert-link-color: var(--bs-danger-text);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border-color: var(--bs-alert-border-color);
}


footer {
    min-height: 150px;

    @include media-breakpoint-down(lg) {
         min-height: 200px;
    }
}

.navbar .nav-item a.nav-link {
  color: #334545;
  .active {
    color: white;
  }
}
@include color-mode(dark) {
  .navbar .nav-item a.nav-link {
    color: #efefef;
  }
}
// Adjust anchors vs the fixed menu.
@include media-breakpoint-up(md) {
  .td-offset-anchor:target {
    display: block;
    position: relative;
    top: -4rem;
    visibility: hidden;
  }

  h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before {
    display: block;
    content: " ";
    margin-top: -5rem;
    height: 5rem;
    visibility: hidden;
  }
}

@include color-mode(dark) {
  .highlight span[style*="color:#000"] {
    color: white !important;
  }
}

a.api-link {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
a.api-link::after {
  content: 'API';
  display: inline-block;
  width: 20px;
  height: 14px;
  color: white;
  background-color: #54a3d8;
  font-size: 0.6rem;
  border-radius: 2px;
  text-align: center;
}

@import "styles_project";
