{{ if .File }}
{{ $pathFormatted := strings.TrimPrefix (add hugo.WorkingDir "/") $.File.Filename -}}

{{ $gl_repo := ($.Param "gitlab_repo") }}
{{ $gl_subdir := ($.Param "gitlab_subdir") }}
{{ $gl_project_repo := ($.Param "gitlab_project_repo") }}
{{ $gl_branch := (default "master" ($.Param "gitlab_branch")) }}

{{ if $gl_repo }}
  <div class="td-page-meta py-1 mb-0">
    {{ $editURL := printf "%s/-/edit/%s/%s" $gl_repo $gl_branch $pathFormatted }}
    {{ if $gl_subdir }}
      {{ $editURL = printf "%s/-/edit/%s/%s/%s" $gl_repo $gl_branch $gl_subdir $pathFormatted }}
    {{ end }}
    {{ $sourceURL := printf "%s/-/blob/%s/%s" $gl_repo $gl_branch $pathFormatted }}
    {{ if $gl_subdir }}
      {{ $sourceURL = printf "%s/-/tree/%s/%s/%s" $gl_repo $gl_branch $gl_subdir $pathFormatted }}
    {{ end }}
    {{ $issuesURL := printf "%s/-/issues/new?issue[title]=%s" $gl_repo (htmlEscape $.Title )}}
    <a href="{{ $editURL }}" target="_blank"><i class="icon icon_document-edit me-2"></i>{{ T "post_edit_this" }}</a>
    <a href="{{ $sourceURL }}" target="_blank"><i class="icon icon_redeyes me-2"></i>See source code</a>
    <a href="{{ $issuesURL }}" target="_blank"><i class="icon icon_document-send me-2"></i>{{ T "post_create_issue" }}</a>
    <a href="/docs/contribute/formatting/"><i class="icon icon_format-text-color me-2"></i>Formatting guidelines</a>
    <a href="/docs/contribute/style/"><i class="icon icon_draw-brush me-2"></i>Style guidelines</a>
  </div>
  {{ end }}
{{ end }}
