{{ if or .Site.Params.gcs_engine_id .Site.Params.algolia_docsearch }}
<input type="search" class="form-control" placeholder="&#xf002 {{ T "ui_search" }}" aria-label="{{ T "ui_search" }}" autocomplete="off">
{{ else if .Site.Params.offlineSearch }}
{{ $targetPath := printf "%s/offline-search-index.json" $.Language.Lang }}
{{ $offlineSearchIndex := resources.Get "json/offline-search-index.jso" | resources.ExecuteAsTemplate $targetPath . }}
{{ $offlineSearchIndexFingerprint := $offlineSearchIndex | resources.Fingerprint "sha512" }}
<div class="td-search">
  <div class="td-search__icon icon icon_edit-find d-flex"></div>
  <input
    type="search"
    id="search-input"
    class="td-search__input form-control td-search-input"
    placeholder="{{ T "ui_search" }}"
    aria-label="{{ T "ui_search" }}"
    autocomplete="off"
    {{/*
      The data attribute name of the json file URL must end with `src` since
      Hugo's absurlreplacer requires `src`, `href`, `action` or `srcset` suffix for the attribute name.
      If the absurlreplacer is not applied, the URL will start with `/`.
      It causes the json file loading error when when relativeURLs is enabled.
      https://github.com/google/docsy/issues/181
    */}}
    data-offline-search-index-json-src="{{ $offlineSearchIndexFingerprint.RelPermalink }}"
    data-offline-search-base-href="/"
  >
  <template id="search-results-template">
    <div class="search-results-header" style="display: flex; justify-content: space-between; margin-bottom: 1em;">
      <span style="font-weight: bold">
        {{ T "ui_search_results" }}
      </span>
      <i class="icon icon_paint-none search-result-close-button p-1" style="cursor: pointer;"></i>
    </div>
    <div class="search-results-body" style="overflow-y: auto;">
      <p class="search-no-results" style="display: none;">
        {{ T "ui_search_no_results" }}
      </p>
    </div>
  </template>
  <template id="search-results-card-template">
    <div class="card">
      <div class="card-header">
        <a class="card-link" href="#">Title</a>
      </div>
      <div class="card-body">
        <p class="card-text text-muted">
          Excerpt
        </p>
      </div>
    </div>
  </template>
</div>
{{ end }}
