{{/* We cache this partial for bigger sites and set the active class client side. */}}
{{ $shouldDelayActive := ge (len .Site.Pages) 2000 }}
<div id="td-sidebar-menu" class="td-sidebar__inner{{ if $shouldDelayActive }} d-none{{ end }}">
  {{ if not .Site.Params.ui.sidebar_search_disable }}
  <form class="td-sidebar__search d-flex align-items-center">
    {{ partial "search-input.html" . }}
    <button class="btn btn-link td-sidebar__toggle d-md-none p-2 m-0 flex-shrink-0 icon icon_application-menu" type="button" data-bs-toggle="collapse" data-bs-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation">
    </button>
  </form>
  {{ end }}
  <nav class="collapse td-sidebar-nav mt-2" id="td-section-nav">
    {{ template "section-tree-nav-section" (dict "page" . "section" .FirstSection "delayActive" $shouldDelayActive "depth" 0) }}
  </nav>
</div>
{{ define "section-tree-nav-section" }}
{{ $s := .section }}
{{ $p := .page }}
{{ $d := .depth }}
{{ $shouldDelayActive := .delayActive }}
{{ $active := and (eq $p.CurrentSection $s) (ne $d 0) }}
{{ $isRelevantDescendant := and (not $p.Site.Params.ui.sidebar_menu_compact) ($p.IsAncestor $s) }}
{{ $isAncestorOrSelf := or ($p.IsDescendant $s) (eq $p $s) }}
{{ $show := or $isRelevantDescendant $isAncestorOrSelf }}
{{ $sid := $s.RelPermalink | anchorize }}
<ul class="td-sidebar-nav__section {{ if $active}} active{{ end }}">
  {{ if (ne $d 0) }}
  <li class="td-sidebar-nav__section-title">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <a href="{{ $s.RelPermalink }}" class="align-left w-100 {{ if not $show }} collapsed{{ end }}{{ if $active}} active{{ end }} td-sidebar-link td-sidebar-link__section">{{ $s.LinkTitle }}</a>
      <a data-bs-toggle="collapse" data-bs-target="#{{ $sid }}" class="icon{{ if not $show }} icon_go-next{{ else }} icon_go-down{{ end }} p-2" onclick='this.classList.toggle("icon_go-down"); this.classList.toggle("icon_go-next")'></a>
    </div>
  </li>
  {{ end }}
  <ul>
    <li class="toc-l{{ $d }} collapse {{ if $show }}show{{ end }} {{ if $active}} active{{ end }}" id="{{ $sid }}">
      {{ $pages := where (union $s.Pages $s.Sections).ByWeight ".Params.toc_hide" "!=" true }}
      {{ $pages := $pages | first 50 }}
      {{ range $pages }}
      {{ if .IsPage }}
      {{ $mid := printf "m-%s" (.RelPermalink | anchorize) }}
      {{ $active := eq . $p }}
      <a class="td-sidebar-link td-sidebar-link__page {{ if and (not $shouldDelayActive) $active }} active{{ end }}" id="{{ $mid }}" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{ else }}
      {{ template "section-tree-nav-section" (dict "page" $p "section" . "depth" (add $d 1) ) }}
      {{ end }}
      {{ end }}
    </li>
  </ul>
</ul>
{{ end }}
