{{ define "head_extension" }}
  {{ $sass := resources.Get "scss/home.scss" }}
  {{ $style := $sass | resources.ToCSS }}
  <link href="{{ $style.Permalink }}" rel="stylesheet" />
{{ end }}

{{ define "main" }}
  <section id="top">
    <div class="container text-center">
      <span class="kde-logo-big">K</span>
      <h1>{{ i18n "home.header.title" }}</h1>
      <p>{{ i18n "home.header.subtitle" }}</p>
    </div>
  </section>

  {{ partial "develop_menu.html" . }}

  <section id="platform-hero">
    <div class="container text-center">
      <h2>{{ i18n "home.multiplatform.title" }}</h2>
      <p>{{ i18n "home.multiplatform.text1" }}</p>
      <p>{{ i18n "home.multiplatform.text2" }}</p>
     </div>
     <div class="d-flex" id="platform-illustration">
       {{ partial "home-devices" . }}
     </div>
  </section>

  {{ $backgroundImage := resources.GetMatch "img/home/devApps.png" }}
  {{ $backgroundImageWebp := $backgroundImage.Process "webp" }}
  <section id="develop-hero" class="p-4" style="height: auto; --background-image: image-set(url('{{ $backgroundImageWebp.RelPermalink }}') type('image/webp'),url('{{ $backgroundImage.RelPermalink }}') type('image/png'));">
    <div class="container text-center p-5" style="background-color: #333">
      <h1 class="h2 mt-0" style="color: #EEE;">{{ i18n "home.qt.title" }}</h1>
      <p class="my-0 mx-auto p-2" style="color: #CCC; max-width: 500px;">{{ i18n "home.qt.description" }}</p>
      <a class="learn-more" href="/products/frameworks/">{{ i18n "learn-more" }}</a>
    </div>
  </section>

  <section class="d-flex pt-0 py-sm-5">
    {{ with resources.GetMatch "img/home/kirigami-devices.png"  }}
      <picture>
          {{ with .Process "webp" }}
            <source srcset="{{ .RelPermalink }}" type="image/webp">
          {{ end }}
        <img class="img-fluid kirigami-devices d-none d-sm-block" src="{{ .RelPermalink }}" alt="">
      </picture>
    {{ end }}
    <div class="align-self-center container">
      <section class="d-sm-none kirigami-header"><h1><p class="header-logo">K</p>{{ i18n "home.kirigami.title" }}</h1></section>
      <h2 class="h1 mt-5 mt-sm-0">{{ i18n "home.kirigami.name" }}</h2>
      <h3>{{ i18n "home.kirigami.subtitle" }}</h3>
      <p>{{ i18n "home.kirigami.description1" }}</p>
      <p>{{ i18n "home.kirigami.description2" }}</p>
      <p class="mb-0"><a href="/frameworks/kirigami/" class="learn-more">{{ i18n "home.kirigami.discover" }}</a></p>
    </div>
  </section>

  <section class="section-blue">
    <div class="container d-flex flex-column">
      <div class="align-self-center">
        <h2 class="h1 mt-0">{{ i18n "home.kdevelop.title" }}</h2>
        <h3>{{ i18n "home.kdevelop.subtitle" }}</h3>
        <p>{{ i18n "home.kdevelop.description" }}</p>
        <p><a href="https://kdevelop.org" class="learn-more">{{ i18n "home.kdevelop.get" }}</a></p> 
      </div>
      {{ with resources.GetMatch "img/home/kdevelop.png"  }}
        <picture>
            {{ with .Process "webp" }}
              <source srcset="{{ .RelPermalink }}" type="image/webp">
            {{ end }}
          <img class="img-fluid mt-3 mt-md-5" src="{{ .RelPermalink }}" alt="{{ i18n "home.kdevelop.alt" }}">
        </picture>
      {{ end }}
    </div>
  </section>

  <section>
    <div class="container text-center">
      <h2 class="mt-0">{{ i18n "home.doc.title" }}</h2>
      <p>{{ i18n "home.doc.description" }}</p>
      <br/>
      <div class="tools">
        <a class="tool" href="/docs/use/kxmlgui">
          <div>
            <h3>{{ i18n "home.kxmlgui.name" }}</h3>
            <p>{{ i18n "home.kxmlgui.subtitle" }}</p>
          </div>
          <div>
            <img class="img-fluid" src="https://kde.org/stuff/clipart/logo/kde-logo-white-blue-rounded-source.svg" alt="{{ i18n "home.kxmlgui.alt" }}" />
          </div>
        </a>
        <a class="tool" href="/docs/use/kirigami">
          <div>
            <h3>{{ i18n "home.kirigami.name" }}</h3>
            <p>{{ i18n "home.kirigami.subtitle" }}</p>
          </div>
          <div>
            <img class="img-fluid" src="/kirigami/kirigami-icon.png" alt="{{ i18n "home.kirigami.alt" }}" />
          </div>
        </a>
        <!-- Add more link in the future (Plasma, PIM) -->
      </div>
    </div>
  </section>

  {{ with .Content }}
    {{ . }}
  {{ end }}
{{ end }}
